@using System.Diagnostics
@* @model EmployeeManagement.Models.Employee *@
@model HomeDetailsViewModel


<!--使用Layout-->
@{
    ViewBag.Title = "Home/Details Page";
    var photoPath = "~/Images/" + (Model.Employee.PhotoUrl ?? "NoImage.png");
    Debug.WriteLine(photoPath);
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>Details_View from Views/Home Folder</h1>
<!--类似于字符串的会默认转换ViewData和ViewBag-->
@{
    var employee2 = ViewData["Employee2"] as EmployeeManagement.Models.Employee;
    var employee3 = ViewBag.Employee3;
}
<p>ViewData Title=@ViewData["Title2"]</p>
<div>
    Name:@employee2.Name
</div>
<div>
    Department:@employee2.Department
</div>
<div>
    Email:@employee2.Email
</div>

<p>-----------------------------------</p>

<p>ViewBag Title=@ViewBag.Title3</p>
<div>
    Name:@employee3.Name
</div>
<div>
    Department:@employee3.Department
</div>
<div>
    Email:@employee3.Email
</div>

<p>-------------strongly typed----------------------</p>

@*     <div>
    Name:@Model.Name
    </div>
    <div>
    Department:@Model.Department
    </div>
    <div>
    Email:@Model.Email
    </div>

<p>--------------ViewModel---------------------</p>
<h2>@Model.PageTitle</h2>
<div>
    Name:@Model.Employee.Name
</div>
<div>
    Department:@Model.Employee.Department
</div>
<div>
    Email:@Model.Employee.Email
</div> *@

<div class="row justify-content-center m-3">
    <div class="Col-sm-8">
        <div class="card">
            <h1>@Model.Employee.Name</h1>
        </div>
        <div class="card-body text-center">
            <img class="card-img-top" src=@photoPath asp-append-version="true" />
            <h4>Employee ID : @Model.Employee.Id</h4>
            <h4>Employee Department : @Model.Employee.Department</h4>
            <h4>Employee Email : @Model.Employee.Email</h4>
        </div>
        <div class="card-footer text-center">
            @* <a href="#" class="btn btn-primary">Back</a> *@
            <a asp-controller="home" asp-action="Index" class="btn btn-primary">Back</a>
            <a asp-controller="home" asp-action="edit" asp-route-id="@Model.Employee.Id" class="btn btn-primary m-1">Edit</a>
            <a asp-controller="home"
               asp-action="delete"
               asp-route-id="@Model.Employee.Id"
               class="btn btn-primary m-1">Delete</a>
        </div>
    </div>
</div>
