@model IEnumerable<Employee>

<!--使用Layout-->
@{
    ViewBag.Title = "Home/Index Page";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Department</td>
                <td>@item.Email</td>
            </tr>
        }
    </tbody>
</table> *@


<div class="card-group">
    @foreach (var item in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h1>@item.Name</h1>
            </div>
            <img class="card-img-top" src="~/images/2.png" />
            <div class="card-footer text-center">
                <!--注入链接的几种方式-->
@*                 <a asp-controller="home" asp-action="details" asp-route-id="@item.Id" class="btn btn-primary">Display</a>
                <a href=@Url.Action("details", "home", new { id = item.Id }) class="btn btn-primary">View</a>                
                @Html.ActionLink("View", "details", "home", new { id = item.Id })
                <a href="#" class="btn btn-primary">View</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-primary">Delete</a> *@
                <a asp-controller="home" asp-action="details" asp-route-id="@item.Id" class="btn btn-primary m-1">View</a>
                <a href="#" class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-primary m-1">Delete</a>

            </div>
        </div>
    }
</div>



@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}